

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
  background-size: 100% 100%;
  align-items: center;
  padding-top: 20%;
  /* justify-content: center; */
  background-image: url('https://mdn.alipayobjects.com/yuyan_qk0oxh/afts/img/V-_oS6r-i7wAAAAAAAAAAAAAFl94AQBr');
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
}

.lang {
  width: 42px;
  height: 42px;
  line-height: 42px;
  position: "fixed";
  right: 16;
}